<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
        }
        .forbidden {
            margin-top: auto;
            text-align: center;
            font-size: 30px;
        }
        .forbidden-head {
            text-align: center;
            font-size: 64px;
        }
    </style>
</head>
<body style="display: table">
<div class="forbidden" style="display: table-cell; vertical-align: middle">
    <div class="forbidden-head">
        <h3>404</h3>
    </div>
    Not found
</div>
</body>
</html>